html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, figure, footer, header,
hgroup, menu, nav, section, menu,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    color: white;
}
article, aside, figure, footer, header,
hgroup, nav, section {
    display: block;
}
nav ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}
mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold;
}
del {
    text-decoration: line-through;
}
abbr[title], dfn[title] {
    border-bottom: 1px dotted #000;
    cursor: help;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
input, select {
    vertical-align: middle;
}
textarea{
    resize:none;
    overflow:auto;
}
/* END RESET CSS */
body {
    font: 13px Arial, sans-serif;
    color:#b5b5b5;
}
table {
    font-size: inherit;
    font: 100%;
}
select, input, textarea {
    font:12px Arial, sans-serif;
}
pre, code, kbd, samp {
    font-family: monospace, sans-serif;
}
body, select, input, textarea {
    color: #444;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    text-rendering: optimizeLegibility;
}
html {
    background:#807c7c url("../images/bg/noise.png");
    -webkit-font-smoothing: antialiased;
}
a:hover, a:active {
    outline: none;
}
a{
    color: #fff;
    text-decoration:none;
}
a:hover {
    color: #d8c893;
}
ul {
    margin-left:0;
}
ol {
    margin-left: 30px;
    list-style-type: decimal;
}
small {
    font-size: 85%;
}
strong, th {
    font-weight: bold;
}
td, td img {
    vertical-align: top;
}
sub {
    vertical-align: sub;
    font-size: smaller;
}
sup {
    vertical-align: super;
    font-size: smaller;
}

pre {
    padding: 15px;
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}
input[type="radio"] {
    vertical-align: text-bottom;
}
input[type="checkbox"] {
    vertical-align: bottom;
    *vertical-align: baseline;
}
.ie6 input {
    vertical-align: text-bottom;
}
label, input[type=button], input[type=submit], button {
    cursor: pointer;
}
::-moz-selection {
    background: #FF5E99;
    color: #fff;
    text-shadow: none;
}
::selection {
    background: #FF5E99;
    color: #fff;
    text-shadow: none;
}
a:link {
    -webkit-tap-highlight-color: #FF5E99;
}
html {
    overflow-y: scroll;
}
button {
    width: auto;
    overflow: visible;
}
.ie7 img {
    -ms-interpolation-mode: bicubic;
}
.ir {
    display: block;
    text-indent: -999em;
    overflow: hidden;
    background-repeat: no-repeat;
}
.hidden {
    display: none;
    visibility: hidden;
}
.visuallyhidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
}
.invisible {
    visibility: hidden;
}
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.clearfix {
    display:inline-block;
}
* html .clearfix {
    height: 1%; /* Hides from IE-mac \*/
}
.clearfix {
    display:block;
}
.ie .font_fix{
    filter:progid:dximagetransform.microsoft.alphaimageloader(src='images/transparent.png', sizingmethod='crop');
    zoom:1;
}
.fleft{
    float:left !important;
}
.fright{
    float:right !important;
}
.clear{
    clear:both !important;
}
.ohidden{
    overflow:hidden !important;
}
.none{
    display:none !important;
}
.block{
    display:block !important;
}
.inline{
    display:inline !important;
}
.iblock{
    display:inline-block !important;
}
.nobg{
    background:none !important;
}
.lalign{
    text-align:left !important;
}
.ralign{
    text-align:right !important;
}
.calign{
    text-align:center !important;
}
.holder{
    width:100%;
    overflow:hidden;
}
.alignleft{
    float:left;
    margin-right:20px;
}
.alignright{
    float:right;
    margin-left:20px;
}
.frame{
    width:1050px;
    margin:0 auto;
}

/*--- supernav ---*/

.supernav{
    background:url("../images/bg/groundsupernav.png");
}
.supernav .frame{
    background:url("../images/bg/supernav.png") repeat-y 50% 0;
    height:51px;
    overflow:hidden;
}
.supernav ul{
    float:right;
    margin:0;
    list-style:none;
    font:12px Arial, sans-serif;
    color:#d1d1d1;
    padding-top:16px;
}
.supernav li{
    float:left;
    padding-right:25px;
}
.supernav a{
    color:#d1d1d1;
}
.supernav a:hover{
    color:#d8c893;
}

/*--- mainnav ---*/

.mainnav{
    background:url("../images/bg/groundmainnav.png");
    position:relative;
    z-index:1;
}
.mainnav .frame{
    background:url("../images/bg/mainnav.png") repeat-y 50% 0;
}
.mainnav ul,
.mainnav li{
    background-image:url("../images/bg/separatormainnav.png");
    background-repeat:no-repeat;
}
.mainnav ul{
    float:right;
    margin-bottom:-5px;
    text-align:right;
    vertical-align:bottom;
    padding-left:2px;
}
.mainnav li{
    float:left;
    background-position:100% 0;
    padding-right:2px;
}
.mainnav ul a{
    float:left;
    padding:0 9px;
    width:94px;
    height:49px;
    background:url("../images/bg/mainnavmenu.png") no-repeat;
    font:13px/69px Georgia, Times, serif;
    text-transform:uppercase;
    color:#e4e4e4;
    border-bottom:5px solid transparent;
}
.mainnav ul a:hover,
.mainnav ul .active a{
    border-bottom:5px solid #72861f;
    color:#accd1d;
    background-position:100% 0;
}

/*--- logo ---*/

.logo{
    float:left;
    padding:9px 0 0 20px;
}

/*--- shadow ---*/

.shadow{
    margin:0 auto;
    padding:0 34px;
    width:940px;
}
article .shadow{
    background:url("../images/bg/article.png") no-repeat 0 100%;
}
.mainbanner .shadow{
    background:url("../images/bg/mainbanner.png") no-repeat;
}

/*--- mainbanner ---*/

.mainbanner{
    background:#303030 url("../images/bg/noise.png");
}
.mainbanner img{
    display:block;
    float:right;

}
.mainbanner .bannerholder{
    position:relative;
    background:url("../images/bg/bannerholder.png") no-repeat;
}
.mainbanner .textsection{
    position:absolute;
    left:0;
    top:0;
    height:100%;
    padding-left:20px;
    z-index: 51;
}
.mainbanner .textsection table{
    height:100%;
}
.mainbanner .textsection td{
    vertical-align:middle;
}
.mainbanner .text{
    color:#bdab6e;
    font:14px Arial, Verdana, sans-serif;
    padding-bottom:15px;
}
.mainbanner .title{
    color: #87B317;
    font: 18px/23px Times New Roman;
    padding-bottom: 15px;
}
.mainbanner .title strong{
    font-weight:normal;
    text-transform:uppercase;
    font-size:33px;
}
.mainbanner .title span{
    color: show;
    position: relative;

}
.mainbanner .btn{
    float:left;
    margin-right:18px;
}
.mainbanner blockquote{
    font:13px Georgia, Times, sans-serif;
    color:#ccc;
    float:right;
    width:340px;
}

/*--- titles ---*/

.pagetitle{
    font:27px Georgia, Times, serif;
    color:#bdab6e;
    text-transform:uppercase;
    padding-bottom:4px;
}

/*--- breadcrumbs ---*/

.breadcrumbs{
    font:bold 12px Arial, sans-serif;
    color:#fff;
    margin:0;
    list-style:none;
}
.breadcrumbs li{
    float:left;
    background:url("../images/bg/bulletbreadcrumbs.gif") no-repeat 0 50%;
    padding:0 9px 0 12px;
}
.breadcrumbs li:first-child{
    background:none;
    padding-left:0;
}
.breadcrumbs a{
    font-weight:normal;
}

/*--- contentholder ---*/

.homecontent{
    background:#555353 url("../images/bg/homecontent.png") no-repeat 50% 0;
    padding:30px 0 22px;
}
.contentholder{
    background:url("../images/bg/contentholder.png") repeat-y;
}
.shadowcontentholder{
    background:url("../images/bg/shadowcontentholder.png") no-repeat 50% 0;
    padding-bottom:80px;
}

/*--- content ---*/

.content{
    float:right;
    width:765px;
}
.content p{
    margin-bottom:15px;
}

/*--- sidebar ---*/

.sidebar{
    float:left;
    width:145px;
    padding:15px 10px 0 20px;
}
.sidebar ul{
    margin:0;
    list-style:none;
    border-bottom:1px solid #888585;
    font:14px Georgia, Times, serif;
}
.sidebar li{
    border-top:1px solid #888585;
    border-bottom:1px solid #393737;
    padding:5px 0 4px;
}
.sidebar li:first-child{
    border-top:0 none;
}
.sidebar .active{
    font-weight:bold;
}
.sidebar .active a{
    color:#d8c893;
}

/*--- services ---*/

.faq{
    margin: 0;
    list-style: none;
}
.faq li{
    float:left;
    margin-left:15px;
    width:512px;
    border-bottom:1px solid #2c2c2c;
    padding:10px 0;
    min-height:165px;
    position:relative;
    color: #fef7f7;
}
faq.title{
   font:18px/50px Georgia, Times, serif;
    color:#749b10;
    text-transform:uppercase;
}

faq.title.img{
    vertical-align:middle;
    margin-right:10px;
}

faq.desc{
    color: #fff;
    font:16px Arial, Verdans, sans-serif;
    padding-bottom:15px;
}

.services{
    margin:0;
    list-style:none;
}
.services li{
    float:left;
    margin-left:15px;
    width:255px;
    border-bottom:1px solid #2c2c2c;
    padding:10px 0;
    min-height:175px;
    position:relative;
}
.services .title{
    font:18px/50px Georgia, Times, serif;
    color:#749b10;
    text-transform:uppercase;
}
.services .title img{
    vertical-align:middle;
    margin-right:10px;
}
.services .desc{

    color:#b5b5b5;
    font:13px Arial, Verdans, sans-serif;
    padding-bottom:15px;

}

.pagedesc{
    color: white;
    font: 16px Times New Roman;
    padding-bottom: 29px;
    text-align: justify;
    width: 700px;
}

.faq .btnsection{
    position:absolute;
    bottom:10px;
    width:100%;
}
.faq .btnsection .btn{
    float:right;
}


.services .btnsection{
    position:absolute;
    bottom:10px;
    width:100%;
}
.services .btnsection .btn{
    float:right;
}

/*--- contactbox ---*/

.contactbox{
    float:right;
    background:url("../images/bg/contactbox.png") no-repeat;
    width:182px;
    height:267px;
    margin:13px 15px 0 28px;
}
.contactbox .imgsection{
    margin-top:-6px;
    height:147px;
    overflow:hidden;
}
.contactbox .imgsection img{
    display:block;
    margin:0 auto;
    max-height:147px;
}
.contactbox .contacts{
    width:144px;
    height:126px;
    background:url("../images/bg/contacts.png") no-repeat;
    padding:0 10px;
    margin:0 auto;
    overflow:hidden;
    position:relative;
}
.contactbox .title{
    font:14px Georgia, Times, serif;
    color:#fff;
    text-transform:uppercase;
    padding:8px 0 9px;
}
.contactbox dl{
    padding-bottom:10px;
}
.contactbox dd{
    font:12px/16px Arial, Verdana, sans-serif;
    color:#b5b5b5;
}
.contactbox dt{
    font:bold 13px/16px Arial, Verdana, sans-serif;
    color:#678910;
    width:27px;
    padding-right:3px;
    float:left;
    clear:right;
}
.contactbox .btnsection{
    position:absolute;
    left:0;
    bottom:10px;
    width:100%;
}
.contactbox .btnsection .btn{
    display:block;
    margin:0 auto;
}

/*--- map ---*/

.map{
    border:3px solid #323131;
    float:right;
    margin:24px 18px 0 0;
}
.map img{
    display:block;
}

/*--- contactholder ---*/

.contactholder{
    padding:28px 0 0 30px;
    font:14px Arial, Verdana, sans-serif;
    color:#fffefe;
}
.contactholder .address{
    margin:0;
    list-style:none;
    padding-bottom:30px;
}
.contactholder .address li{
    float:left;
    width:180px;
}
.contactholder .address .title{
    font:13px Georgia, Times, serif;
    color:#87b317;
    text-transform:uppercase;
    padding:5px 0;
}
.contactholder .address address{
    padding-bottom:10px;
    font-style:normal;
}
.contactholder .address dt{
    float:left;
    clear:right;
    color:#99cc00;
    font:bold 13px/17px Arial, Verdana, sans-serif;
    min-width:27px;
    padding-right:3px;
}
.contactholder .address dd{
    color:#fff;
    font:13px/17px Arial, Verdana, sans-serif;
}

/*--- contactform ---*/

.contactform p{
    font:13px Arial, Verdana, sans-serif;
    color:#ccc;
}
.contactform label{
    color:#fff;
    font:13px Arial, Verdana, sans-serif;
    width:78px;
    float:left;
    padding:4px 0 0 10px;
}
.contactform .required{
    color: #fef7f7;
}

.contactform .required:last-child{
    color: red;
}
.contactform .row{
    padding:5px 0;
}
.contactform input[type="submit"].btn{
    border:0 none;
}
.contactform input[type="text"],
.contactform input[type="password"],
.contactform textarea,
.contactform select{
    border:1px solid #2e2e2e;
    background:#fff url("../images/bg/inputs.png") repeat-x;
    font:12px Arial, Verdana, sans-serif;
    color:#8d8d8d;
}
.contactform input[type="text"],
.contactform input[type="password"]{
    width:218px;
    padding:3px 6px;
}
.contactform select{
    width:298px;
    padding:2px 0;
}
.contactform textarea{
    height: 88px;
    margin: 0 0 30px;
    padding: 4px 6px;
    position: relative;
    top: 24px;
    width: 360px;
}
.contactform .btnsection{
    padding-left:88px;
}

/*--- homeboxes ---*/

.homeboxes{
    width:904px;
    height:365px;
    margin:0 auto;
    background:url("../images/bg/homeboxes.png") no-repeat;
}
.homebox{
    float:left;
    width:278px;
    height:100%;
    margin-left:5px;
    padding:0 10px;
    position:relative;
}
.homebox:first-child{
    margin:0;
}
.homebox .btn{
    position:absolute;
    bottom:17px;
    left:25px;
}
.homebox .imgsection{
    padding:10px 0;
}
.homebox .imgsection img{
    max-width:100%;
    height:auto;
}
.homebox .title{
    color:#749b10;
    font:20px Georgia, Times, serif;
    text-transform:uppercase;
    padding:3px 0 5px;
}
.homebox .desc{
    color:#d2d2d2;
    font:12px Arial, Verdana, sans-serif;
    padding-bottom:12px;
}
.homebox ul,
.homebox dl,
.homebox address{
    color:#bebdbd;
    font:12px Arial, Verdana, sans-serif;
}
.homebox ul{
    list-style:none;
    margin:0 0 0 10px;
}
.homebox li{
    padding-left:13px;
    background:url("../images/bg/bullethomebox.png") no-repeat 0 10px;
}
.homebox li span{
    display:block;
    border-bottom:1px solid #5f5d5d;
    padding:4px 0;
}
.homebox address{
    padding:4px 0 12px 15px;
}
.homebox dl{
    padding-left:15px;
}
.homebox dt{
    float:left;
    clear:right;
    font:bold 13px/22px Arial, Verdana, sans-serif;
    color:#678910;
    min-width:27px;
    padding-right:3px;
    position:relative;
    top:2px;
}
.homebox dd{
    font:18px/22px Arial, Verdana, sans-serif;
    color:#fff;
}

/*--- btns ---*/

.btn{
    display:inline-block;
    font-size:0;
    letter-spacing:-9999px;
    overflow:hidden;
}
.btn.services,
.btn.more,
.btn.contact{
    width:131px;
    height:28px;
}
.btn.submit{
    width:100px;
    height:33px;
    background:url("../images/btns/submit.png") no-repeat;
}
.btn.moresmall{
    width:62px;
    height:24px;
    background:url("../images/btns/moresmall.png") no-repeat;
}
.btn.contactus{
    background:url("../images/btns/contactus.png") no-repeat;
    width:111px;
    height:30px;
}
.btn.contactbig{
    background:url("../images/btns/contactbig.png") no-repeat;
    width:126px;
    height:42px;
}
.btn.investOne{
    /*background: url("../images/btns/invest.png") no-repeat scroll 0 0 transparent;*/
    height: 32px;
    position: absolute;
    top: 310px;
    width: 181px;

}
.btn.investTwo{
    /*background: url("../images/btns/invest.png") no-repeat scroll 0 0 transparent;*/
    height: 32px;
    position: absolute;
    top: 358px;
    width: 181px;

}
.btn.services{
    background:url("../images/btns/services.png") no-repeat;
}
.btn.more{
    background:url("../images/btns/more.png") no-repeat;
}
.btn.contact{
    /*background:url("../images/btns/contact.png") no-repeat;*/
}
.btn:hover{
    background-position:0 100% !important;
}

/*--- footer ---*/

footer{
    background:url("../images/bg/footer.png") no-repeat 50% 0;
    color:#acabab;
    padding-bottom:60px;
}
footer .row{
    background:url("../images/bg/rowfooter.png") no-repeat;
    padding:10px 20px;
}
footer .row:first-child{
    /* background:none; */
}
footer a{
    color:#acabab;
}
footer a:hover{
    color:#fff;
}
footer ul{
    float:left;
    margin:0 0 0 -14px;
    list-style:none;
    display: inline-table;
}
footer li{
    float:left;
    background:url("../images/bg/separatorfooternav.png") no-repeat 0 50%;
    padding:0 16px 0 14px;
}
footer li:first-child{
    background:none;
}
footer .privacy{
    float:right;
}
footer .copy{
    float:left;
}
footer .by{
    float:right;
}

/*--- END ---*/

@media print {
    * {
        background: transparent !important;
        color: #444 !important;
        text-shadow: none;
    }
    a, a:visited {
        color: #444 !important;
        text-decoration: underline;
    }
    a:after {
        content: " (" attr(href) ")";
    }
    abbr:after {
        content: " (" attr(title) ")";
    }
    .ir a:after {
        content: "";
    }
    pre, blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    img {
        page-break-inside: avoid;
    }
    @page {
        margin: 0.5cm;
    }
    p, h2, h3 {
        orphans: 3;
        widows: 3;
    }
    h2, h3 {
        page-break-after: avoid;
    }
}
@media all and (orientation:portrait) {
    /* Style adjustments for portrait mode goes here */
}
@media all and (orientation:landscape) {
    /* Style adjustments for landscape mode goes here */
}
@media screen and (max-device-width: 480px) {
    /* Prevent iOS, WinMobile from adjusting font size */
    html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; }
}


.pagem{
    position: relative;
}

.imagetd{
    width: 50px;
}
div .errorSummary{
    color:red;
}
.lang {
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -ms-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}
.lang:hover {
  zoom: 1;
  filter: alpha(opacity=50);
  opacity: 0.5;
}

.list-view .sorter {
    margin: 5px 0;
    text-align: left;
    width: 5px!important;
}

.change-pagesize{
    width:50px !important;
}
.alert
{
    font-size: 1.3em;
    padding: 1em;
    text-align: center;
    white-space: nowrap;
    width: auto;
    word-wrap: normal;
}